<!DOCTYPE html>
<head>
  <%- partial("ejslayouts/_head-section") %>
</head>
<body>
  <%- partial("ejslayouts/_header") %>
  <div class="mainbody">
    <%- partial("ejslayouts/_hero") %>
  </div>
  <%- partial("ejslayouts/_strands") %>
  <%- partial("ejslayouts/_research") %>
  <%- partial("ejslayouts/_footer") %>
</body>
</html>